.navbar-container {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.navbar-container_signup {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgb(222, 220, 220);
}

.navbar-list {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 1920px;
  width: 94%;
  list-style: none;
  margin: auto;
  padding: 0;
}

.image {
  width: 160px;
  height: 100px;
}

.signin button {
  user-select: none;
  background-color: red;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.signin button:disabled {
  cursor: default;
  background-color: rgba(255, 0, 0, 0.77);
}

@media (max-width: 950px) {
  .image {
    width: 120px;
    height: 74px;
  }
}
