.container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../public/netflix-img/netflix-background-login.jpg");
  background-position: center;
  background-size: cover;
}
