.getstarted-email p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.form-container {
  position: relative;
  margin: auto;
  width: 704px;
  display: flex;
}

.form-container div:first-of-type {
  position: relative;
  width: 100%;
}

.form-container input {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 18px 14px 12px;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
}

.err-border input {
  border-bottom: 2px solid rgb(255, 179, 0);
}

.form-container label {
  position: absolute;
  left: 0;
  user-select: none;
  color: rgb(131, 131, 131);
  top: 24px;
  font-size: 1.2rem;
  transition: transform 0.1s ease-out;
  left: 14px;
}

.form-container input:focus + label,
.form-container input:valid + label {
  transform: translate3d(0, -19px, 0);
  font-size: 0.8rem;
  font-weight: bold;
}

.form-container button {
  text-align: center;
  outline: none;
  color: white;
  border: none;
  border-radius: 2px;
  width: 270px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 20px 26px;
  background-color: rgb(223, 0, 0);
}

.form-container button:hover {
  background-color: rgb(241, 2, 2);
}

.form-container button:disabled {
  cursor: default;
  background-color: rgba(223, 0, 0, 0.77);
}

.getstarted-email .err-p {
  position: absolute;
  left: 0;
  bottom: -24px;
  text-align: start;
  margin-bottom: 0;
  color: rgb(255, 179, 0);
  font-size: 0.9rem;
  margin: 0;
  padding: 0 14px;
}

@media (max-width: 950px) {
  .getstarted-email {
    max-width: 600px;
    margin: auto;
  }

  .form-container {
    gap: 8px;
    flex-direction: column;
  }

  .form-container label {
    font-size: 1rem;
    top: 16px;
  }

  .form-container input {
    font-size: 1rem;
  }

  .form-container input:focus + label,
  .form-container input:valid + label {
    transform: translate3d(0, -12px, 0);
    font-size: 0.7rem;
    font-weight: bold;
  }

  .getstarted-email .err-p {
    position: relative;
    bottom: 0;
  }

  .form-container button {
    align-self: center;
    font-size: 1rem;
    width: 130px;
    padding: 12px 0;
  }
}
